Period
1) end of a declarative sentence, end of an indirect question, end of an imperitive sentence that does not express strong emotion
2) after a request
3) after an abbreviation that stands for a single word
    i) exception: often omitted for units
    ii) only use one if the abbreviation is the last word in a sentence
    iii) colon replaces <<<<<<<
    iV) semicolon does not replace
4) not after abbreviation of well known publications
5) not after letters in abbreviations of agencies or broadcasting services