Period
1) end of a declarative sentence, end of an indirect question, end of an imperitive sentence that does not express strong emotion
2) after a request
3) after an abbreviation that stands for a single word
    i) exception: often omitted for units
    ii) only use one if the abbreviation is the last word in a sentence
    iii) colon replaces <<<<<<<
    iV) semicolon does not replace
4) not after abbreviation of well known publications
5) not after letters in abbreviations of agencies or broadcasting services
6) may be after individual letters in an abbreviation of a name
7) not after roman numerals unless in a table of contests of a list
8) not after letters when they refer to a person ("Mr. A has...")
9) after letters or figures in an outline, but not when they are in parentheses
10) before a decimal
11) between hours and minutes, but a colon is usually used
12) in parens when they enclose a full sentence
13) outside the parens then they don't enclose a full sentence, but complete the existing one
14) Inside quotation marks
15) Omit after Display lines, running lines, centered headlines, sideheads set in separate lines, cut-in heads, box-heads, superscriptions and legends that do not make more then a single line of type, itesm in enumerated lists, date lines heading communications, signatures, and in tables
	Exception: if one item in a list is a complete sentence, all items should be capitalized
16) not after chemical symbols, words indicating the size of books, and the word percent
17) not after a singature and after a title following a signature in a letter
18) 3 separated by spaces to denote an omission in quoted matter

Question Mark & Exclaimation mark: assume yes for now.

Formal rules:
Period
1)
2) 
3) if len(context(3) == 2 && 
